PROJECT_NAME=cebra_template
PORT=3000

HTTP_API=http://localhost:3000/api/v1
HTTP_HOST=http://localhost:3000

MYSQL_HOSTNAME=localhost
MYSQL_PORT=3306
MYSQL_USER=user_placeholder
MYSQL_PASSWORD=password_placeholder
MYSQL_DATABASE=db_placeholder

HUBSPOT_TOKEN=pat-na1-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

HUBSPOT_APP_ID=xxxxxxxx
HUBSPOT_APP_APIKEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
HUBSPOT_APP_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
HUBSPOT_APP_REDIRECT_URI=http://localhost:3000/api/v1/sdk
HUBSPOT_APP_CLIENT_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password_placeholder